@font-face {
    font-family:"HXBNST";
    src:url("HXBNST.woff?t=1622105872view") format("woff"), /* chrome, firefox */
    url("HXBNST.ttf?t=1622105872view") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("HXBNST.svg?t=1622105872view#HXBNST") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
/*
@font-face {
    font-family:"HXBNST";
    src: url("HXBNST.eot?t=1622105872view"); IE9
    font-style: normal;
    font-weight: normal;
} */
